[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
keyring = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
ics = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.12.9"
